* {
  margin: 0;
}

.app-container {
  /* display: flex;
  justify-content: space-around; */
}

body {
  /* background-image: url("./assets/pokemon-background.jpg"); */
  background-color: coral;
  font-family: "Courier New", Courier, monospace;
}

.card {
  box-sizing: border-box;
  border: 8px solid transparent;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  border: 8px solid red;
  box-shadow: -1px 9px 20px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.15);
}

.button-container {
  text-align: center;
}

.pl-container {
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 20px 15%;
  /* width: 67rem; */
}

.sprites {
  display: block;
  margin: 0 auto;
}

.sprites img {
  width: auto;
  height: 10rem;
}

h1 {
  text-align: center;
}
