* {
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: space-around;
}

body {
  /* background-image: url("./assets/pokemon-background.jpg"); */
  background-color: coral;
}

.card {
  box-sizing: border-box;
  border: 10px solid transparent;
  border-radius: 7px;
}

.card:hover {
  border: 10px solid red;
  box-shadow: -1px 9px 20px 12px rgba(0, 0, 0, 0.25);
}
