* {
  margin: 0;
}

.app-container {
  /* display: flex;
  justify-content: space-around; */
}

body {
  /* background-image: url("./assets/background-black.png"); */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  */

  background-color: coral;

  font-family: "Courier New", Courier, monospace;
}

.card {
  box-sizing: border-box;
  border: 8px solid transparent;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  border: 8px solid #0069d9;
  box-shadow: -1px 9px 20px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.15);
}

.link:hover {
  text-decoration: none;
}

.button-container {
  text-align: center;
}

.pl-container {
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 20px 15%;
  /* width: 67rem; */
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  text-shadow: 2px 2px 1px #ffcd00;
  font-size: 5rem;
  padding: 0;
}

.sprites {
  width: auto;
  display: table;
  margin: 0 auto;
}

.sprites img {
  width: auto;
  height: 10rem;
}

.types {
  text-align: center;
}

.types span {
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.hw {
  margin: 10px;
  text-align: center;
}

.hw span {
  margin: 10px;
}

.abilities {
  text-align: center;
}

.abilities span {
  margin: 10px;
}

.base-stats {
  width: 40vw;
  margin: 20px auto;
}

.progress {
  height: 2rem;
  /* background-color: transparent; */
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
}
.progress-bar {
  color: black;
}

.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.fa-undo-alt:hover {
  color: #ffcd00;
}
/******************* TYPES  ********************/

.normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
}

.water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
}

.electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
}

.grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
}

.ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
}

.ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
}

.flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
}

.ghost {
  background-color: #705898;
  border: 1px solid #493963;
}

.rock {
  background-color: #b8a038;
  border: 1px solid #786824;
}

.fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
}

.poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
}

.psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
}

.bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
}

.dark {
  background-color: #705848;
  border: 1px solid #49392f;
}

.steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
}

.dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
}

.fairy {
  background-color: pink;
  border: 1px solid rgb(248, 152, 168);
}
